@font-face {
    src: url(./fonts/MAGNETOB.TTF);
    font-family: 'Magneto';
}

header {
    background-color: #383D41;
    color: white;
}

h3 {
    font-family: Magneto;
    color: red;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 2em;
}

section {
    width: 100%;
}

.carousel-control {
    color: black ! important;
}

.carousel-item {
    width: auto;
}

.card-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-low {
    size: small;
    color: gray;
}

.card-time {
    color: gray;
}

.title {
    font-family: Magneto;
}

.title-nav {
    font-size: x-large;
}

.sub-header {
    background-color: #eeeeee;
    position: relative;
}

.sub-header-content {
    margin-left: 5em;
    margin-top: 1em;
    margin-bottom : 1em;
 }

.grey-word {
    color: grey;
}

.red-word {
    color: red;
}

.member {
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.member-center {
    margin: 0 auto 0 auto;
}

.member-img {
    border-radius: 50%;
}
